// varibles

$website-width: 1280px;
$main-color: #5b99eb;
$main-dark: #365b8d;
$main-shade: #5189d3;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/white-laptop.jpg");
